/* Global settings with light and dark mode support */
:root {
  --main-color:#000000;
  --background-color: #ffffff;
}
@media (prefers-color-scheme: dark) {
  :root {
    --main-color:#ffffff;
    --background-color: #121212;
  }
}
html {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-size: 16px;
  color: var(--main-color);
  background-color: var(--background-color);
}
a {
  color: var(--main-color);
}
body {
  margin: 0px;
}

/* Navigation */
#navbar {
  z-index: 10;
  background-color: var(--background-color);
  position: fixed;
  top: 0px;
  width: 100%;
  height: 90px;
  border-bottom: 0.1em dotted rgba(128, 128, 128, 0.226);
  overflow: hidden;
}
#navbar__logo {
  position: fixed;
  left: 20px;
  top: 5px;
}
.nav {
  position: fixed;
  top: 30px;
  right: 10px;
  width: 500px;
}
.nav__link {
  padding: 12px 18px; 
  text-decoration: none;
  font-weight: 500;
}
.nav__link:hover {
  background: rgba(255, 255, 255, 0.05);
}

/* footer */
#footer {
  z-index: 10;
  background-color: var(--background-color);
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 80px;
  border-top: 0.1em dotted rgba(128, 128, 128, 0.226);
  margin: 0px;
}
#footer__logo {
  position: fixed;
  bottom: 20px;
}
#footer__text {
  position: fixed;
  bottom: 20px;
  width: 100%;
  text-align: center;
  font-size: 18px;
}
#footer__link {
  position: fixed;
  bottom: 20px;
  right: 20px;
  text-align: right;
}

/* Content */
#content {
  z-index: 1;
  margin-bottom: 90px;
  margin-left: 2em;
  margin-top: 100px;
  line-height: 1.5;
  font-weight: 500;
}
