/* Global settings with light and dark mode support */
:root {
  --main-color:#000000;
  --background-color: #ffffff;
}
@media (prefers-color-scheme: dark) {
  :root {
    --main-color:#ffffff;
    --background-color: #121212;
  }
}
html {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-size: 16px;
  color: var(--main-color);
  background-color: var(--background-color);
  height: 100%;
}
a {
  color: var(--main-color);
}
body {
  height: 100%;
  margin-bottom: 90px;
}

/* Navigation */
#navbar {
  z-index: 10;
  background-color: var(--background-color);
  position: fixed;
  top: 0px;
  width: 100%;
  height: 90px;
  border-bottom: 0.1em dotted rgba(128, 128, 128, 0.226);
  overflow: hidden;
}
#navbar__logo {
  position: fixed;
  left: 20px;
  top: 5px;
}
.nav {
  position: fixed;
  top: 30px;
  right: 10px;
  width: 500px;
}
.nav__link {
  padding: 12px 18px; 
  text-decoration: none;
  font-weight: 500;
}
.nav__link:hover {
  background: rgba(255, 255, 255, 0.05);
}

/* footer */
#footer {
  z-index: 10;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 90px;
  border-top: 0.1em dotted rgba(128, 128, 128, 0.226);
}
#footer__logo {
  position: fixed;
  bottom: 20px;
}
#footer_text {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
  font-size: 18px;
}


/* Content */
#content {
  z-index: 1;
  margin-bottom: 300px;
  margin-left: 2em;
  margin-top: 100px;
  line-height: 1.5;
  font-weight: 500;
  height: 90%;

  background-color: gray;
}







/*
hr {
  border-top: 0.1em dotted gray;
  box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);

}

#header {
  z-index: 100;
  position: relative;
  top: 90px;
  height: 300px;
  width: 100%;
  border-bottom: 0.1em dotted rgba(128, 128, 128, 0.226);
}
*/
