CORS="http://192.168.8.40:8887"
LICENSE_PRIVATE_KEY=""
CORS="http://192.168.8.40:8887,http://192.168.8.40:8889"
SENDGRID_API_KEY=""
EMAIL_FROM_NAME=""
EMAIL_FROM_ADDRESS=""
EMAIL_TO_CONTACT=""
EMAIL_TO_ORDER=""
DEBUG_VAT="true"
