<section id="hero" class="relative bg-cover pt-4 overflow-x-auto">
    <div class="grid grid-cols-5 divide-x divide-gray-400 divide-dotted place-items-center w-min-600">
        <div class="w-full">
            <div class="h-min-200 lg:h-min-400 w-max-300 m-auto">
                <a href="/blog/frustrating-password-hustle">
                    <img src="https://static.fuddata.com/blog-thumpnail/password-hustle.webp" alt="Frustrating Password Hustle" />
                    The brief history of password usage and how we tackle the current state of password security.
                </a>
            </div>
        </div>
    </div>
</section>